<div class="flex items-center h-12 mt-4">
  Dispositivos
</div>
<div class="flex flex-col mb-4">
  <div class="flex flex-col">
    <div class="flex items-center h-12 mt-4">
      <p class="mr-6">Puertas</p>
      <a class="block cursor-pointer text-center rounded-lg bg-black text-white px-3.5 py-2.5 text-md hover:bg-black hover:shadow-md transition" 
      routerLink="../new-device/puerta">Añadir puertas</a>
    </div>
    <div class="flex flex-row flex-wrap">
      <app-device-card *ngFor="let puerta of puertas" (deleted)="onDeviceDeleted($event)"
        class="flex grow flex-col text-black text-lg justify-between w-3/12 h-44 my-4 mr-2 p-4 bg-zinc-100 shadow-md" 
        [salaName]="salaName" deviceType="puerta" [name]="puerta.name" [isOpen]="puerta.isOpen"
        [id]="puerta.id"></app-device-card>
    </div>
  </div>
  <div>
    <div class="flex items-center h-12 mt-4">
      <p class="mr-6">Ventanas</p>
      <a class="block cursor-pointer text-center rounded-lg bg-black text-white px-3.5 py-2.5 text-md hover:bg-black hover:shadow-md transition" 
      routerLink="../new-device/ventana">Añadir ventanas</a>
    </div>
    <div class="flex flex-row flex-wrap">
      <app-device-card *ngFor="let ventana of ventanas" (deleted)="onDeviceDeleted($event)"
        class="flex grow flex-col text-black text-lg justify-between w-3/12 h-44 my-4 mr-2 p-4 bg-zinc-100 shadow-md"
        [salaName]="salaName" deviceType="ventana" [name]="ventana.name" [isOpen]="ventana.isOpen"
        [id]="ventana.id"></app-device-card>
    </div>
  </div>
  <div>
    <p>Luces</p>
    <app-device-card *ngFor="let luz of luces"
      class="flex grow flex-col text-black text-lg justify-between 
            w-3/12 h-44 my-4 mr-2 p-4 bg-zinc-100 shadow-md"
      title="Personas" [salaName]="salaName" deviceType="luz"></app-device-card>
  </div>
  <div>
    <p>Ventiladores</p>
    <app-device-card *ngFor="let ventilador of ventiladores"
      class="flex grow flex-col text-black text-lg justify-between 
            w-3/12 h-44 my-4 mr-2 p-4 bg-zinc-100 shadow-md"
      title="Personas" [salaName]="salaName" deviceType="ventilador"></app-device-card>
  </div>
</div>