<div class="dashboard">
  <div class="flex justify-between my-8 w-12/12">
    <p class="flex-none inline-block py-2 mb-2 text-4xl rounded-xl text-black">{{name}}</p>
    <div class="flex">
      <div class="flex items-center text-md items-center px-6 ml-8 rounded-xl bg-stone-50"
        >Tamaño: {{size}} m²</div>
      <a class="flex items-center cursor-pointer items-center px-6 ml-8 rounded-xl text-red-500 border border-red-500 rounded-lg hover:bg-red-100 transition"
      routerLink="modify-sala" (click)="click()">Modificar sala</a>
    </div>
  </div>
  <ul class="flex">
    <li class="mr-2">
      <a
        class="cursor-pointer inline-block p-2 border-b-2 border-black"
        [class.text-black]="isOverviewActive"
        [class.border-black]="isOverviewActive"
        [class.border-transparent]="!isOverviewActive"
        (click)="updateIsOverviewActive()"
        routerLink="overview"
      >Información</a>
    </li>
    <li class="mr-2">
      <a
        class="cursor-pointer inline-block p-2 border-b-2 border-black"
        routerLink="devices"
      >Controles</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
