<div class="flex items-center h-12 mt-4">
  <a class="block text-center rounded-lg px-3.5 py-2.5 text-md"
    [ngClass]="{'cursor-default border border-black bg-white text-black transition': enviando,
                'cursor-pointer bg-black text-white hover:shadow-md transition': !enviando}"
    (click)="sendData()">{{ enviando? 'Enviando': 'Enviar datos'}}</a>
    <a class="block text-center rounded-lg ml-4 px-3.5 py-2.5 text-md"
    [ngClass]="{'cursor-pointer bg-black text-white hover:shadow-md transition': enviando,
                'cursor-default border border-black bg-white text-black transition': !enviando}"
    (click)="pararDatos()">{{ enviando? 'Parar datos': 'Parado'}}</a>
</div>
<div class="flex">
  <app-alarma *ngIf="showAlarm"
  class="flex grow flex-col text-black text-lg justify-between h-48 mb-4 mt-6 mr-2 p-4
        bg-red-100 border border-red-500"></app-alarma>
</div>
<div class="flex mb-4">
  <app-overview-card
    class="flex grow flex-col text-black text-lg hover:cursor-pointer justify-between h-44 my-4 mr-2 p-4"
    [ngClass]="{'shadow-md bg-black text-white': dataType == 'personas', 'bg-zinc-100': dataType != 'personas'}"
    title="Personas" [salaName]="salaName" dataType="personas" unit="personas" (click)="changeDataType('personas')"
    (switchLights)="handleSwitchLights($event)"></app-overview-card>
  <app-overview-card
    class="flex grow flex-col text-lg hover:cursor-pointer justify-between h-44 my-4 mx-2 p-4"
    [ngClass]="{'shadow-md bg-black text-white': dataType == 'temperatura', 'bg-zinc-100': dataType != 'temperatura'}"
    title="Temperatura" [salaName]="salaName" dataType="temperatura" unit="°C" (click)="changeDataType('temperatura')"
    (showAlarm)="handleShowAlarm($event)"></app-overview-card>
  <app-overview-card
    class="flex grow flex-col text-lg hover:cursor-pointer justify-between h-44 my-4 mx-2 p-4"
    [ngClass]="{'shadow-md bg-black text-white': dataType == 'co2', 'bg-zinc-100': dataType != 'co2'}"
    title="CO2" [salaName]="salaName" dataType="CO2" unit="ppm" (click)="changeDataType('co2')"></app-overview-card>
</div>
<div>
  <app-overview-chart [dataType]="dataType" [salaName]="salaName"></app-overview-chart>
</div>
